/* Base styles */
.ls {
  background: #001030;
  height: 75vh;
  overflow: hidden;
  box-sizing: border-box;
}

.ls-top {
  padding: 0.6em;
}

.ls-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ls-nav .logo {
  max-width: 8em;
  width: 40%;
}

.ls-nav .menu img {
  opacity: 0.7;
  cursor: pointer;
  width: 20%;
  margin-left: 80%;
}

.menu {
  position: relative;
  z-index: 1;
}

.menu .sub-menu {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 100%;
  right: 10px;
  width: 100px;
  /* box-shadow: 0px 0px 2px 3px  rgb(90, 90, 90); */
}

.sub-menu p {
  cursor: pointer;
  font-size: 15px;
  background:#077eff;
  color: white;
  font-weight: 500;
  text-align: center;
  opacity: 80%;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 3px  rgb(107, 189, 209);
}

.menu:hover .sub-menu {
  display: block;
}

.ls-search {
  background-color: #002670;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-top: 20px;
  opacity: 0.7;
  border-radius: 5px;
}

.ls-search img {
  width: 16px;
}

.ls-search input {
  background: transparent;
  border: none;
  padding: 5px 10px;
  outline: none;
  color: white;
  font-size: 11px;
  width: 100%;
}

.ls-search input::placeholder {
  color: white;
}

.ls-list {
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-y: scroll;
}

.friends div span {
  display: inline-block;
  max-width: 70%;
  word-wrap: break-word;
  white-space: normal;
}

.friends img {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.friends {
  display: flex;
  height: 10vh;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  width: 100%;
}

.friends span {
  color: #bcbbbb;
  font-size: 0.85rem;
}

.friends:hover {
  background-color: #077eff;
}

.friends:hover span {
  color: white;
}
 .friends.border img{
  border: 3px solid #07fff3;
 }
 .friends.border div span{
  color: #07fff3;
 }
/* Responsive Styles */

@media (max-width: 900px){
   .ls{
    width: 100%;
   }
}

