.chat {
  min-height: 100vh;
  background: linear-gradient(#596aff, #383699);
  display: grid;
  place-items: center;
}
.chat-container {
  width: 95%;
  height: 75vh;
  max-width: 1000px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/* loading css */

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey */
  border-left: 4px solid #3498db; /* Blue color */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-left: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 900px) {
  .chat-container {
    display: flex;
  }
  .spinner {
    width: 10px;
    height: 10px;
  }
  
}
